
.card-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    
}
.card {
    min-width: 25%;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    background-color: rgb(215, 214, 214);
    cursor: pointer;
    border-radius: 4px;
}

.delete-pdf-btn {
    background-color: transparent;
    border:2px solid red;
    width: 20%;
    transform: all 200ms ease;
}
.delete-pdf-btn:hover {
    background-color: red;
    color: white;
}
.delete-pop-up {
    position: absolute;
    height: 40vh;
    width: 35vw;
    background-color: bisque;
    top: 30%;
    left: 30%;
    
    border-radius: 10px;
}
.delete-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: .2rem;
}